@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap&family=Josefin+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}


.navigation {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(23 43 62);
    /* transition: all 0.5s ease-in; */
    font-family: 'Lato', sans-serif;
    z-index: 100;
}

.navigation .navigation-contents {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-items {
    text-align: center;
    font-size: 1.3em;
    color: #a7a4a4;
}

.menu-items ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items .menu-item {
    list-style-type: none;
    padding: 6px 10px;
    line-height: 30px;
    transition: color 0.5s ease-in;
}

.menu-items .menu-item a {
    color: #a7a4a4;
    transition: color 0.2s ease-in;
}

.menu-items .menu-item a:hover {
    color: white;
}

.menu-items .menu-item span {
    display: none;
}

.logo-container {
    text-align: center;
}

.logo-container > .logo {
    width: 30px;
    filter: invert(100%);
}


.self {
    width: 250px;
}

.home {
    background-color: #dbe5e3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home > .intro{
    /* text-align: center; */
    font-family: 'Josefin Sans', sans-serif;
}

.home > .intro > h1, .home > .intro > h3 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-weight: 700;
}

.home > .intro > h1{
    font-size: 40px;
    margin: 0;
    animation: textAppear 1s ease-in;
}

.home > .intro > h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* animation-delay: 1.5s; */
}

.home > .intro > p{
    margin-top: 20px;
    margin-bottom: 20px;
    /* animation-delay: 1.5s; */
}

@keyframes textAppear {
    from { width: 0 }
    to { width: 100% }
}

.home, .about, .projects, .contact {
    padding: 100px 6%;
    height: 100vh;
    box-sizing: border-box;
}

.about {
    padding-top: 30px;
    background-color: #e4c8c8;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.about > .timeline-container {
    box-sizing: border-box;
    padding-left: 0;
    margin-bottom: 40px;
}

.about > .timeline-container > h1, .about > .skills > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    display: inline-block;
    position: relative;
    color: #9f3232;
}

.about > .timeline-container > h1::before, .about > .skills > h1::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #641e1e;
    transition: all 0.5s ease-in-out;
}

.about > .timeline-container > h1:hover::before, .about > .skills > h1:hover::before {
    width: 100%;
}

.about .timeline {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.about .timeline:before {
    position: absolute;
    content: '';
    top: 0;
    width: 6px;
    height: 100%;
    background: rgb(80,80,80);
}

.about .timeline > li {
    position: relative;
    list-style-type: none;
    padding-left: 45px;
    margin-top: 30px;
}

.about .timeline > li:first-child {
    margin-top: 0;
}

.about .timeline > li > .project-title {
    font-size: 1.3em;
    display: inline-block;
    background-color: #f4ecdc;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
}



.about .timeline > li > .icon {
    position: absolute;
    width: 15px;
    border-radius: 25px;
    border: 4px solid #020839;
    background-color: #020839;
    left: -12px;
    font-size: 0.9em;
    padding: 3px;
    color: white;
    text-align: center;
}

.about .timeline > li > .project-description {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.8em;
}

.skills {
    width: 100%;
    max-width: 550px;
}

.skills-container {
    font-family: 'Roboto', sans-serif;
}

.bar {
    display: inline-block;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    margin: 5px 0;
    font-size: 0.8em;
    color: white;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
}

.skills-container > span {
    display: inline-block;
    margin-left: 10px;
    color: #641e1e;
}

.bar::before {
    content: attr(skill-name);
    background-color: #641e1e;
    display: inline-block;
    padding: 3px;
    border-radius: 20px;
    /* width: 90%; */
    width: 0;
    padding-left: 15px;
    box-sizing: border-box;
    transition: width 0.8s ease-in;
}

.resumeContainer {
    min-width: 100%;
    text-align: center;
    margin-top: 10px;
}

.resumeContainer > a{
    display: inline-block;
    padding: 10px 25px;
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease-in;
}

.resumeContainer > a:hover{
    color: white;
    background: #641e1e;
}

.projects {
    padding-top: 30px;
    background-color: #dbe5e3;
    font-size: 13px;
    height: auto;
    /* margin-left: 50px; */
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.contact {
    padding-top: 30px;
    height: auto;
    background-color: rgb(19 37 54);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links {
    padding-bottom: 30px;
}

.contact-links > ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2em;
}

.contact-links > ul > li {
    list-style-type: none;
    margin: 0 20px;
}

.contact-links > ul > li > a {
    color: white;
}

.projects > h1, .contact > h1 {
    font-size: 2em;
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
}

.projects > h1 {
    color: #3d3d5d;
}


.contact > h1 {
    color: white;
}

.projects > h1::before, .contact > h1::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.projects > h1::before {
    border-bottom: 5px solid #2a2a41;
}

.contact > h1::before {
    border-bottom: 5px solid white;
}

.projects > h1:hover::before, .contact > h1:hover::before {
    width: 100%;
}

.projects > .project-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects > .project-contents > .project {
    width: 300px;
    height: 200px;
    /* background: url("./../Resources/Images/Indieverse.jpg"); */
    background-color: rgb(31, 2, 58);
    background-size: cover;
    background-position: center;
    margin: 15px;
    position: relative;
}

.projects > .project-contents > .project > .links {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.projects > .project-contents > .project > .links > .links-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
}

.project > .links > .link-info  {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    position: relative;
}

.project > .links > .link-info > h3  {
    margin: 0;
}

.project > .links > .link-info > .link-items {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.8em;
}

.project > .links > .link-info > .link-items > li {
    list-style-type: none;
    margin: 0 10px;
}

.project > .links > .link-info > .link-items > li > a {
    color: white;
}

.projects > .project-contents > .project > .links:hover{
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .navigation {
        width: 60px;
        height: 100%;
        /* transition: all 0.5s ease-in; */
    }
    .logo-container {
        text-align: center;
    }

    .navigation .navigation-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .menu-items ul {
        flex-direction: column;
    }

    .home {
        padding: 0;
        padding-top: 30px;
        margin-left: 60px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .logo-container > .logo {
        padding: 10px 0;
    }

    .home > .intro {
        text-align: left;
    }
    .home > .intro > h1{
        font-size: 80px;
    }

    .home > .intro > h3 {
        font-size: 30px;
    }

    .about, .projects, .contact {
        font-size: 17px;
    }
    .about {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .projects, .contact {
        margin-left: 50px;
    }

    .about > .timeline-container {
        padding-left: 40px;
        margin-bottom: 0;
    }
    .about > .skills {        
        max-width: 350px;
    }

    .about .timeline > li > .icon {
        width: 18px;
        left: -13px;
    }

    .projects > .project-contents > .project {
        width: 350px;
        height: 250px;
    }

    
}

@media screen and (min-width: 1280px) {
    .navigation {
        width: 200px;
        height: 100%;
        /* transition: all 0.5s ease-in; */
    }
    .logo-container {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .logo-container > .logo {
        width: 100px;
        filter: invert(100%);
    }
    .menu-items .menu-item span {
        display: inline-block;
    }
    .menu-items .menu-item .nav-item-icons{
        display: none;
    }

    .home, .about, .projects, .contact {
        margin-left: 200px;
        padding: 0;
        padding-left: 40px;
        padding-right: 40px;
    }

    .home {
        padding-top: 30px;
    }

    .about, .projects, .contact {
        padding-top: 30px;
        font-size: 20px;
    }

    .about > .skills {        
        max-width: 450px;
    }

    .about .timeline > li > .icon {
        width: 22px;
        left: -15px;
    }

    .self {
        width: 400px
    }

    .projects {
        padding-bottom: 30px;
    }

    .projects > .project-contents > .project {
        width: 350px;
        height: 250px;
    }

}



.self3 {
    animation: dash 3s ease-in-out;
    stroke-dasharray: 800;
    /* stroke-dashoffset: 1000; */
}

.self6 {
    animation: dash 3.6s ease-in-out;
    stroke-dasharray: 800;
    /* stroke-dashoffset: 1000; */
}

.self9 {
    animation: dash 3.9s ease-in-out;
    stroke-dasharray: 800;
    /* stroke-dashoffset: 1000; */
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
        stroke-width: 0.1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}